<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h2>Vets List</h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        
    </tr>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">123</td>
        <td th:text="${vet.firstName}">Spring in Action</td>
        <td th:text="${vet.lastName}">Wrox</td>
        
    </tr>
</table>

</body>
</html>